@tailwind base;

@tailwind components;

@tailwind utilities;

/*Spinner CSS */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }

  100% {
    transform: translate(24px, 0);
  }
}

.sc-llJcti svg {
  display: none !important;
}

.biYOSq {
  font-size: 0.75rem !important;
  line-height: 1rem !important;
  color: rgba(100, 116, 139, 1) !important;
}

.rdt_TableHeadRow {
  background-color: #f8fafc !important;
  min-height: '41px' !important;
  border-color: rgba(241, 245, 249, 1) !important;
  font-weight: 600;
}

.sc-bjUoiL{
  font-weight: 600 !important;
  font-size: 1.125rem;
  line-height: 1.75rem;
  color: rgba(51,65,85,1);
}